$contoller-height: 110px;
$play-area-height: 500px;
$play-area-width: 350px;

body {
	position: absolute;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	width: 100%;
	width: calc(var(--vw, 1vw) * 100);
	height: 100%;
	height: calc(var(--vh, 1vh) * 100);
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.container {
	height: calc(100vh - #{$contoller-height});
	width: 100%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#play-area {
	position: absolute;
	height: $play-area-height;
	width: $play-area-width;
	transform: translate(calc(100vw / 2 - (#{$play-area-width} / 2)), 0%);
	bottom: 15px;
	background: #020000;
	color: white;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
	overflow: hidden;
}

.control-target {
	position: absolute;
	width: 1px; //50px
	height: 1px; //50px
	overflow: visible;
	display: block;
	.ship-body {
		transform: translate(-50%, -50%);
	}
	.target-zone {
		position: absolute;
		height: 40px;
		width: 50px;
		transform: translate(-85%, -50%);
	}
	.ship-flame {
		visibility: hidden;
		position: absolute;
		left: -85px;
		top: -12px;
	}
}

.controller-footer {
	position: absolute;
	height: $contoller-height;
	width: 100%;
	background: white;
	color: white;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
}

.control-grid {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#left-joystick {
	z-index: 1;
	grid-area: 1 / 1 / 2 / 2;
}

#trigger {
	grid-area: 1 / 2 / 2 / 3;
	background: #f00000;
	opacity: 0.5;
	height: 97px;
	width: 97px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border: #020000 2px solid;
}
.fired {
	opacity: 0.8 !important;
}

.shot-div {
	height: 1px !important;
	width: 1px !important;
	margin: 0px;
	padding: 0xp;
	position: absolute;
	.blaster-zone {
		position: absolute;
		height: 85px;
		width: 30px;
		transform: translate(-40%, -50%);
	}
}

.shot {
	margin: 0px;
	padding: 0px;
	stroke: red;
	stroke-width: 2.5;
}

#shots {
	z-index: 999;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#health {
	z-index: 999;
	position: absolute;
	top: 5px;
	left: calc(#{$play-area-width} / 2);
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	list-style: none;
	transform: translate(-50%);
}
#opponent-health {
	z-index: 999;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

@media only screen and (min-width: 500px) {
}
